<!DOCTYPE html>
<html>

<head>
  <title>Calendar project</title>
  <link rel="stylesheet" href="styles.css"></link>
</head>

<body>
{{> header}}
<div id="container">
  {{{ body }}}
</div>
{{> footer}}
</body>

</html>