<!DOCTYPE html>
<html>

<head>
  <title>Calendar project</title>
  <style link="styles.css"></style>
</head>

<body>
{{> header}}
<div id="container">
  {{{ body }}}
</div>
{{> footer}}
</body>

</html>